<a href="https://colab.research.google.com/github/JesusRamirezGamarra/Python-DeCodificador/blob/main/Clase_3_Operadores_y_expresiones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operaciones 

Operando [operador] Operando

## Operadores y Expresiones

2 + 2 

2 - 2

2 * 2

2 / 2

2 // 2

2 % 2

2 ** 2

## EL TIPO LÓGICO
### Booleano/Binario
True => Verdadero

False => Falso

## OPERADORES RELACIONALES
### Igualdad/Desigualdad/Menor-Mayor que

In [ ]:
# 2 + 2 = 4
suma = 2 + 2

# print(2 < 2)
# print(2 > 2)
# print(2 > 4)
# print(2 < 4)
# print(2 <= 2)
# print(2 >= 2)
# print(2 <= 5)
# print(2 >= 1)
# print(1 == 1)
# print(1 != 1)
# print(suma == 4)
# print(suma == 15)
# print(suma != 4)
# print(suma != 15)

otro_numero = 10

# print(suma < otro_numero)
# print(otro_numero > 50)
# print(suma <= 5)
# print(suma <= 4)
# print(suma < 4)
# print(otro_numero >= 10)
# print(otro_numero > 10)
# print(otro_numero >= 5)

## ¿Operadores en Strings? 

https://elcodigoascii.com.ar/

In [ ]:
# print('a' == 'a')
# print('a' == 'A')
# print('a' != 'A')
# print('a' < 'A')
# print('a' < 'Z')
# print('ahorrar' < 'aHorrar')
# print('ah' > 'ahorrar')
# print('ah' < 'aHorrar')
# print('ah' < 'ahorraR')
# print('a' >= 'ahorrar')
# 'a' == 'b'
# 'a' < 'b'
# string1 = 'ricardo como ta va? soy pancho'
# palabra2 = 'hola'
# print(string1 == 'hola')
# print(string1 == palabra2)
# print(string1[0] == 'r')
# print(string1[:2] == 'r')
# print(string1[:2] == 'ri')

## Operadores usando tipos logicos

In [ ]:
# print(True)
# print(False)
# print(True == False)
# print(True == True)
# print(True == 1)
# print(False == 0)
# print(False * 55)
# print(True * 55)
# print(True + 55)
# print(True + 0.5)
# print(False == 0.5)


# True == 1
# False == 0

# True < False
# 1 < 0


# print(True == 55)
# print('55' == 55)
# print('a' == 97)

## Ejercicio 1 (10min)

In [ ]:
expresiones = [
    False == True,
    10 >= 2*4,
    33/3 == 11,
    True > False,
    True*5 == 2.5*2
]
print(expresiones)

## OPERADORES LÓGICOS
### not

In [ ]:
# print(True)
# print(False)
# print(not True)
# print(not False)
# print(not 4)
# print(not -4)
# print(not 0.5)
# print(not 0)

# 4 => True
# True => 1

# int('2') => 2
# bool(2) => True


# print(bool(-4))
# print(bool(0))
# print(bool(''))
# print(bool('123asd'))
# print(not '123asd')
# print(bool([]))
# print(bool([2, 3, 54, 'pepe', 'ricardo']))

### and

In [ ]:
print(55 == 60 and 1.5 == 1.4) # False
print(55 == 60 and 1.5 == 1.5) # False
print(60 == 60 and 1.5 == 1.4) # False
print(60 == 60 and 1.5 == 1.5) # True

In [ ]:
# True and 4/0
# False and 4/0
# 4/0 and False

### or

In [ ]:
print(55 == 60 or 1.5 == 1.5) # True
print(60 == 60 or 1.5 == 1.5) # True
print(60 == 60 or 1.5 == 1.4) # True
print(55 == 60 or 1.5 == 1.4) # False

In [ ]:
# False or 4/0
# True or 4/0
4/0 or True

## Tablita

In [ ]:
# True or True    ----> True     | True and True    ----> True
# False or True   ----> True     | False and True   ----> False
# True or False   ----> True     | True and False   ----> False
# False or False  ----> False    | False and False  ----> False

## Ejercicio 2 (10min)

In [ ]:
expresiones = [
    not False,
    not 3 == 5,
    33/3 == 11 and 5 > 2,
    True or False,
    True*5 == 2.5*2 or 123 >= 23,
    12 > 7 and True < False
]
print(expresiones)

[True, True, True, True, True, False]

### Y porque pasa eso con el not?

not 3 == 5

In [ ]:
# 3 == 0 # False

# not 3 # False

# not 3 == 0 # True

In [ ]:
# 3 == 1 # False

# not 3 # False

# not 3 == 1 # True

# not 3 == 1
# False == 1 # False
# not (3 == 1)

# Break

## EXPRESIONES ANIDADAS


1. Expresiones de cualquier tipo entre paréntesis.
2. Expresiones aritméticas por su propias reglas.
```
() -> ** -> / // * %  -> + -
primero -> segundo -> tercero -> cuarto
```
3. Expresiones relacionales de izquierda a derecha.
4. Operadores lógicos (not tiene prioridad ya que afecta al operando).

In [ ]:
a = 15
b = 12
a ** b / 3**a / a * b >= 15 and not (a%b**2) != 0

### Paso a paso

```
a = 15
b = 12
a ** b / 3**a / a * b >= 15 and not (a%b**2) != 0
```

1) b**2 => 144
```
a ** b / 3**a / a * b >= 15 and not (a%144) != 0
```
2) a%144 => 15
```
a**b / 3**a / a * b >= 15 and not 15 != 0
```
3) a**b => 129746337890625
```
129746337890625 / 3**a / a * b >= 15 and not 15 != 0
```
4) 3**a => 14348907
```
129746337890625 / 14348907 / a * b >= 15 and not 15 != 0
```
5) 129746337890625 / 14348907 => 9042245.370370371
```
9042245.370370371 / a * b >= 15 and not 15 != 0
```
5) 9042245.370370371 / a => 602816.3580246915
```
602816.3580246915 * b >= 15 and not 15 != 0
```
6) 602816.3580246915 * b => 7233796.296296298
```
7233796.296296298 >= 15 and not 15 != 0
```
7) 7233796.296296298 >= 15 => True
```
True and not 15 != 0
```
7) 15 != 0 => True
```
True and not True
```
8) not True => False
```
True and False
```
False

## Ejercicio 3 (10min)

A partir de dos variables llamadas NOMBRE y EDAD, debes crear una variable que almacene si se cumplen TODAS las siguientes condiciones, encadenando operadores lógicos en una sola línea:
1. NOMBRE sea diferente de cuatro asteriscos y
2. EDAD sea mayor que 10 y a su vez menor que 18 y  
3. Que la longitud de NOMBRE sea mayor o igual a 3 pero a la vez menor que 10 y
4. EDAD multiplicada por 4 sea mayor que 40

In [ ]:
# nombre = 'pepe' # input()
# edad = 24 # (input)
# print(1 > 2 and len('pepe') == 5 or)

## OPERADORES DE ASIGNACIÓN

In [ ]:
# =
var1 = 57
cadena = 'pepe'
print(var1)
print(cadena)

# +=
var1 += 2 # var1 = var1 + 2
print(var1)
cadena += '2' # cadena = cadena + '2'
print(cadena)

# # -=
var1 -= 2 # var1 = var1 - 2
print(var1)

# # *=
var1 *= 2 # var1 = var1 * 2
print(var1)
cadena *= 2
print(cadena)
 
# # /=
var1 /= 2 # var1 = var1 / 2
print(var1)

# //=
var1 //= 2 # var1 = var1 / 2
# ( lo esta tomando como division flotante, porque probablemente la version de 
# python de colab no lo tenga contemplado todavia a este operador de asignacion )
print(var1)

# # %=
var1 %= 5 # var1 = var1 % 2
print(var1)

# # **=
var1 **= 2 # var1 = var1 ** 2
print(var1)


# contador = 5
# contador += 1
# contador

57
pepe
59
pepe2
57
114
pepe2pepe2
57.0
28.0
3.0
9.0