<a href="https://colab.research.google.com/github/JesusRamirezGamarra/Python-DeCodificador/blob/main/Clase_2_Colecci%C3%B3n_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas ( heterogeneas )

In [ ]:
edades = 25 34

In [ ]:
lista1 = [1, 2, 3, 4, 1]
edad = 25
lista2 = [1, 2, 3,'pepe', 'roque', True, -15, edad]

print(lista2)

# Listas y Strings

Index

In [ ]:
cadena = 'esta es cadena de prueba'
print(cadena[5])

lista = [1, 2, 3,'pepe', 'roque']
print(lista[3])
print(lista[-1])

# Estos 2 accesos generan un error
# print(cadena[55])
# print(lista[55])

Slicing

In [ ]:
cadena = 'esta es cadena de prueba'
print(cadena)
print(cadena[4:8])
print(cadena)

In [ ]:
lista = [1, 2, 3,'pepe', 'roque']

print(lista)
print(lista[2:4])
print(lista)

# Para poder volver a utilizar el valor en el futuro

# segunda_lista = lista[2:4]
# print(segunda_lista)
# print(lista)

# segunda_lista = lista[::2]
# print(segunda_lista)
# print(lista)

concatenación

In [ ]:
cadena = 'esta es cadena de prueba'
cadena_concatenada = cadena + ' soy pepe'
print(cadena_concatenada)
lista1 = [1, 2, 3, 'pepe', 'roque']
# lista_concatenada = lista1 + cadena
# lista_concatenada = lista1 + [cadena]
lista2 = [cadena]
print(lista2)
lista_concatenada = lista1 + lista2
print(lista_concatenada)


cadena1 = 'esta es cadena de prueba'
cadena2 = ' otro gato'
print(cadena1 + cadena2)
lista1 = [1, 2, 3,'pepe', 'roque']
lista2 = [6,7,8,1]
print(lista1 + lista2)
print(lista1 + [cadena1])

Inmutabilidad/Mutabilidad

In [ ]:
# cadena = 'claro'
# # cadena[3] = 's'
# cadena = cadena[:3] + 's' + cadena[4:]
# print(cadena)
lista = ['primero', 'segundo', 'tercero']
print(lista)
print(lista[1])
lista[1] = 'cuarto'
print(lista)
print(lista[1])

Asignacion por slicing

In [ ]:
lista = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto']
print(lista)
print(lista[1:3])

# lista[1:3] = [2,3]
# print(lista)

# lista[1:3] = ['mas datos']
# print(lista)

# lista[1:3] = ['soy', 'mas', 'de', 'un', 'valor']
# print(lista)

# lista[1:3] = 'hola'
# print(lista)

# lista[1:5] = []
# print(lista)

# lista[1:3] = 'pepe'
# # print(list('hola')) # -> ['p', 'e', 'p', 'e']
# print(lista)

# # lista[1:3] = 4 # genera un error
# lista[1:3] = [4]
# print(lista)

Borrar valores con slicing o vaciar lista

In [ ]:
lista = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto']
print(lista)
# lista[1:2] = []
# print(lista)
# lista[1:3] = []
# print(lista)
# lista[::2] = [] # Genera error ya que no les permite la asignación con el salto de valores
lista = []
print(lista)

# Funciones de listas

append

In [ ]:
lista = [1, 2, 3, 'pepe', 'roque']
print(lista)
# [1, 2, 3, 'pepe', 'roque'].append('otro valor')
lista.append('otro valor')
print(lista)
lista.append(['otro valor', 2])
print(lista)

len

In [ ]:
lista = [1, 2, 3, 'pepe', 'roque']
print(len(lista))

pop

In [ ]:
lista = [1, 2, 3, 'pepe', 'roque']
valor_extraido = lista.pop()
# valor_extraido = lista.pop(3)
print(lista)
print(valor_extraido)
lista.pop()
print(lista)

count

In [ ]:
lista = [1, 2, 3, 'pepe', 2, 'roque', 2]
print(lista.count(3))
print(lista.count(2))
print(lista.count(4))
print(lista.count('pepe'))

index ( salteos para buscar, inexistencia )

In [ ]:
lista = ['pepe', 1, 2, 3, 'pepe', 'roque', 'pepe']
print(lista.index('pepe'))
# print(lista.index('pepe', 1))
# print(lista.index('pepe', 5, 6))
# print(lista.index('pepe', 7))

# print(lista.index('salto')) # genera error al no encontrar el dato que se busca

Ejercicio de listas (10 min)

Dadas dos listas LISTA1 y LISTA2 debes realizar las siguientes tareas:
- Añade a la LISTA1 el int 1234 y luego el string “Hola”
- Añade a la LISTA2 el string “Adios” y luego el int 1234
- Genera una LISTA3 con todos los elementos de la LISTA1 menos el último
- Genera una LISTA4 con todos los elementos de la LISTA2 menos el primero y el último
- Genera una LISTA5 con los elementos de la LISTA4 y de la LISTA3

lista1 = [1, 12, 123]

lista2 = ["Bye", "Ciao", "Agur", "Adieu"]

# Break

# Tuplas ( heterogeneas )

In [ ]:
lista = [1,2,3,'pepe','gato']
tupla = (1,2,3,'pepe','gato')

In [ ]:
lista = [2]
tupla = ('2')
# tupla = ('pepe',)
# tupla = (2,)
# tupla = 2,
# tupla = 2, 3, 4, 5
print(tupla)
print(type(lista))
print(type(tupla))

Inmutabilidad

In [ ]:
lista = [1,2,3,'pepe','gato']
lista[1] = 'otro valor'
print(lista)

tupla = (1,2,3,'pepe','gato')
tupla[1] = 'otro valor'
print(tupla)

Vaciar

In [ ]:
tupla = (1,2,3,'pepe','gato')
print(tupla)
print(type(tupla))
tupla = ()
print(type(tupla))
tupla = tuple()
print(type(tupla))

Index y slicing

In [ ]:
tupla = (1,2,3,'pepe','gato')
print(tupla[2])
print(tupla[1:])
print(tupla[::2])

Concatenación

In [ ]:
tupla1 = (1,2,3)
tupla2 = ('pepe','gato')
tupla3 = tupla1 + tupla2
print(tupla3)
# tupla1 = tupla1 + tupla2
# print(tupla1)

# Funciones de tuplas

len

In [ ]:
tupla34 = (1,2,3,'pepe','gato')
print(len(tupla34))

count

In [ ]:
tupla = (1,'pepe', 2,3,'pepe','gato','pepe')
print(tupla.count('pepe'))
print((1,'pepe', 2,3,'pepe','gato','pepe').count('pepe'))

index ( salteos para buscar, inexistencia )

In [ ]:
tupla = ('pepe', 1, 2, 3, 'pepe', 'roque', 'pepe')
print(tupla.index('pepe'))
print(tupla.index('pepe', 1))
# print(tupla.index('pepe', 5, 6))
# print(tupla.index('pepe', 7))

# print(tupla.index('salto')) # genera error al no encontrar el dato que se busca

Casting

In [ ]:
tupla = ('pepe', 1, 2, 3, 'pepe', 'roque', 'pepe')
print(tupla)
lista_desde_tupla = list(tupla)
print(lista_desde_tupla)

tupla_desde_lista = tuple(lista_desde_tupla)
print(tupla_desde_lista)

Anidación ( acceso )

 lista = [1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2')]

 lista[-1][1] -> 'tupla2'

 [1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2')][-1][1]
 
 ('tupla', 'tupla2')[1]
 
 'tupla2'

In [ ]:
lista = [1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2')]
print(lista)
print(lista[2])
print(lista[-1])
# print(lista[-1][1])
# print(len(lista[-1]))
# lista[-2][1] = 'otra lista'
# lista[-1][1] = 'otra lista' # Genera error
# print(lista)
# print(lista[-1])

# print(tuple(lista))

tupla = (1,2,3,'pepe','gato', ['lista', 'interna'], ('tupla', 'tupla2'))
print(tupla)
print(tupla[2])
print(tupla[-1])
# print(tupla[-1][1])
# print(len(tupla[-1]))
# tupla[-2][1] = 'otra lista'
# print(tupla)

Ejercicio 2 (10 min)

A partir de una variable llamada tupla debes 
imprimir por pantalla de forma ordenada, lo siguiente:
- El último ítem de tupla
- El número de ítems de tupla
- La posición donde se encuentra el ítem 87 de tupla
- Una lista con los últimos tres ítems de tupla
- Un ítem que haya en la posición 8 de tupla
- El número de veces que el ítem 7 aparece en tupla

Copia esta tupla:

tupla = (5, 12, 7, 37, 8, 86, 19, 7, -783, 87, 188, 7, 9, 12, 7, 3982)